$primary:#181818;
$secondary:#121212;
$dark-gray: #C4C4C4;

$white:#fff;
$black:#000;
$red: #ED3024;
$blue: #3137C9;

$z-index-sidebar: 100;
$z-index-header: 100;
$z-index-modal:110;

$sidebar-width: 300px;
$tablet-bp: 991px;
$tablet-bp--690:690px;
$mobile-bp:575px;
$mobile-table:380px;