@import"vars";
.header {
    display: flex;
    flex-direction: row;
    width: calc(100% - #{$sidebar-width});
    // height: 30px;
    background-color: #0d0d0d;
    box-shadow: 0 5px 22px rgba($black,  .25);
    position: fixed;
    top: 0;
    right: 0;
    z-index: $z-index-header;

    @include breakpoint ($tablet-bp) {
        width: 100%;
    }

}
.header__left {
    width: 60%;
    @include breakpoint ($mobile-bp) {
        width: 30%;
    }
}
.header__right {
    width: 40%;
    @include breakpoint ($mobile-bp) {
        width: 70%;
    }

}
.header-left,
.header-right {
    @include breakpoint ($mobile-bp) {
        display: none;
    }
}

// .left-list {
    
// }
