.share-popup-wrapper {

}
.share-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    min-height:200px;

}
.share-item {

}
.share-link {
    margin-right: 1.5rem;
}