<!--!!contacts modal-->
<section class="popup-wrapper contact-popup-wrapper" id="contacts-modal">
    <div class="popup contact-popup">
        <button class="btn-close" type="button">
            <img class="btn-close-img" src="../assets/images/main/close.svg" alt="close">
        </button>

        <form action="/" method="POST" class="debate-form contact-form debate-form--mb">
            <div class="cabinet signup under-none">
                <div class="cabinet-form">
                    <div class="debate-group cabinet-group">
                        <input class="debate-control" type="text" placeholder="Ваше имя">
                        <span class="debate-line"></span>
                    </div>

                    <div class="debate-group cabinet-group">
                        <input class="debate-control" type="email" placeholder="Ваш email">
                        <span class="debate-line"></span>
                    </div>
                    <div class="debate-group cabinet-group">
                        <textarea class="debate-textarea" placeholder="Текст сообщения"></textarea>
                        <span class="debate-line"></span>
                    </div>

                </div>

                <div class="footer-form footer-form-auth">
                    <ul class="footer-form-list">
                        <li class="footer-form-item footer-form-item--start"><button class="btn btn--blue work-link "
                                type="submit">Отправить</button></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="contact-about-us">
            <span class="contact-email-text">e-mail: </span><a href="info@mywebsite.ru"
                class="contact-email-link">info@mywebsite.ru </a>
            <span class="contact-phone-text">тел: </span><a href="+94323285622" class="contact-phone-link">
                +943-232-856-22</a>
        </div>
    </div>
</section>
<!--//!?contacts modal-->