<header class="header">
    <div class="header__left">
        <nav class="nav left-nav">
            <ul class="nav-list left-list">
                <li class="nav-item left-item"><a class="nav-link" href="index.html">Главная</a></li>
                <li class="nav-item left-item"><a class="nav-link has-subnav" href="#"> Статьи</a>
                <ul class="subnav-list">
                    <li class="subnav-item"><a href="../create-site.html" class="subnav-link">Создание сайтов</a></li>
                    <li class="subnav-item"><a href="#" class="subnav-link">Интернет-маркетинг</a></li>
                    <li class="subnav-item"><a href="#" class="subnav-link">Продвижение видео</a></li>
                </ul>
                </li>
                <li class="nav-item left-item"><a class="nav-link" href="../text.html"> Обо мне</a></li>
                <li class="nav-item left-item"><a class="nav-link" href="../text.html"> Реклама</a></li>
            </ul>
        </nav>
        <button class="burger " type="button" id="sidebarToggle"> 
            <span>Открыть навигацию</span>
        </button>
    </div>
    <div class="header__right">
        <nav class="nav right-nav">
            <ul class="nav-list right-list">
                <li class="nav-item right-item"><a class="nav-link" href="profile.html">Профиль</a></li>
                <li class="nav-item--exit right-item"><a class="nav-link" href="#">Выйти</a></li>
            </ul>
            
            <form class="search" action="create-site.html" method="GET">
                <input class="search__input" type="search" placeholder="Поиск по блогу" >
            </form>
        </nav>
    </div>    
</header>
