<!--!!share modal-->
<section class="popup-wrapper share-popup-wrapper">
    <div class="popup contact-popup share-popup">
        <button class="btn-close" type="button">
            <img class="btn-close-img" src="../assets/images/main/close.svg" alt="close">
        </button>
        <ul class="share-list">
            <li class="shre-item"><a class="share-link" href="https://www.facebook.com/"><img src="../assets/images/footer/facebook.svg" alt="facebook"> </a></li>
            <li class="shre-item"><a class="share-link" href="https://twitter.com/?lang=ru"><img src="../assets/images/footer/twitter.svg" alt="twitter"> </a></li>
            <li class="shre-item"><a class="share-link" href="https://vk.com/"> <img src="../assets/images/footer/vk.svg" alt="vk"></a></li>
            <li class="shre-item"><a class="share-link" href="#"> <img src="../assets/images/footer/copy.svg" alt="copy"></a></li>
        </ul>
 
    </div>
</section>
<!--//!?share modal-->