<aside class="sidebar" id="sidebar">
    <section class="sidebar__header">
        <img src="../assets/images/header/sidebar-header.jpg" alt="" width="300" height="180">
    </section>
    <section class="sidebar__content">
        <div class="profile">
            <img src="/assets/images/header/avatar.jpg" alt="Аватар" class="profile__avatar" width="100" height="100">
            <div class="profile__header">
                <div class="profile__name">Бақитов Тілеген</div>
                <div class="profile__prof">Блок front-end разработчика</div>
            </div>
            <a href="" class="nav-lin"></a>
            <ul class="social__list">
                <li class="social__item"><a href="#" class="social__link"><img src="/assets/images/header/instagram.svg"
                            alt="instagram"></a></li>
                <li class="social__item"><a href="#" class="social__link"><img src="/assets/images/header/vk.svg"
                            alt="vk"></a></li>
                <li class="social__item"><a href="#" class="social__link"><img src="/assets/images/header/pinterest.svg"
                            alt="pinterest"></a></li>
            </ul>
            <div class="profile__text">
                <p>Front-end разработчик. Практик верстки сайтов.
                    Созданием сайтов занимаюсь с 2019 года.
                    Работал в нескольких ИТ компаниях и
                    наработал более 100 часов в создании сайтов
                    различной сложности.</p>
            </div>
        </div>
        <nav class="mobile-nav">
            <ul class="nav-list mobile-nav-list">
                <li class="mobile-nav-item nav-item"><a class="nav-link mobile-nav-link has-subnav"
                        href="#">Статьи</a>
                    <!--KEY-->
                    <ul class="subnav-list">
                        <li class="subnav-item nav-item"><a class="nav-link mobile-nav-link subnav-link"
                                href="../create-site.html">Создание сайтов</a></li>
                        <li class="subnav-item nav-item"><a class="nav-link mobile-nav-link subnav-link" href="#">Интернет-маркетинг</a></li>
                        <li class="subnav-item nav-item"><a class="nav-link mobile-nav-link subnav-link" href="#">Продвижение видео</a></li>
                    </ul>
                </li>
                <li class="mobile-nav-item nav-item"><a class="nav-link mobile-nav-link" href="../text.html">Обо
                        мне</a></li>
                <li class="mobile-nav-item nav-item"><a class="nav-link mobile-nav-link"
                        href="../text.html">Реклама</a></li>
                <li class="mobile-nav-item nav-item"><a class="nav-link mobile-nav-link"
                        href="profile.html">Профиль</a></li>
                        

                        
            </ul>
        </nav>
        <!--//!!profile-->

    </section>
    <!--sidebar__content-->
    <section class="sidebar__footer">
        <a class="btn btn--red" href="../my-work.html">Мои работы</a>
        <button class="btn btn--blue" type="button" data-modal="contacts-modal">Написать мне</button>

    </section>
</aside>